In [34]:
#import libraries
import warnings
warnings.filterwarnings('ignore') 
import pandas as pd
from sodapy import socrata
import geopandas as gpd
import contextily as ctx
import esda 
from esda.moran import Moran, Moran_Local
import splot
from splot.esda import moran_scatterplot, plot_moran, lisa_cluster, plot_moran_simulation
import libpysal as lps
import matplotlib.pyplot as plt 
import plotly.express as px

In [57]:
#import block grops data
gdf = gpd.read_file('C:/Users/ASUS/Downloads/acs2018_5yr_B01003_15000US060372711003.geojson')

In [75]:
gdf.head()

,geoid,name,B01003001,"B01003001, Error",geometry
0,15000US060371011101,"Block Group 1, Los Angeles, CA",1806.0,332.0,"MULTIPOLYGON (((-118.29133 34.26008, -118.2913..."
1,15000US060371011102,"Block Group 2, Los Angeles, CA",1529.0,375.0,"MULTIPOLYGON (((-118.30229 34.25870, -118.3009..."
2,15000US060371011103,"Block Group 3, Los Angeles, CA",979.0,250.0,"MULTIPOLYGON (((-118.30080 34.26327, -118.2979..."
3,15000US060371011221,"Block Group 1, Los Angeles, CA",2093.0,410.0,"MULTIPOLYGON (((-118.30334 34.27371, -118.3033..."
4,15000US060371011222,"Block Group 2, Los Angeles, CA",1146.0,281.0,"MULTIPOLYGON (((-118.29075 34.26906, -118.2906..."

In [85]:
gdf.shape

(2516, 5)

In [99]:
#column selection & renaming
gdf = gdf[['geoid', 'B01003001', 'geometry']]
gdf.columns = ['FIPS', 'TotalPop', 'geometry']

In [101]:
gdf.tail()

,FIPS,TotalPop,geometry
2511,15000US060379800261,37.0,"MULTIPOLYGON (((-118.35173 34.28034, -118.3517..."
2512,15000US060379800281,0.0,"MULTIPOLYGON (((-118.45246 33.94315, -118.4464..."
2513,15000US060379800311,1113.0,"MULTIPOLYGON (((-118.29105 33.75378, -118.2905..."
2514,15000US060379902000,0.0,"MULTIPOLYGON (((-118.63598 34.03255, -118.6325..."
2515,16000US0644000,3959657.0,"MULTIPOLYGON (((-118.66818 34.18987, -118.6681..."